body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed; /* Obraz tła */
    background-size: cover;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: calc(1.5rem + 2vw); /* Zmienia rozmiar tekstu w zależności od szerokości ekranu */
}

.papiez {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Nadaje okrągły kształt */
    object-fit: cover;
}
