body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed; /* Obraz tła */
    background-size: cover; /* Dopasowanie tła do okna */
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100px;
    height: auto;
}

.papiez {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Nadaje okrągły kształt */
    object-fit: cover; /* Dopasowanie obrazu wewnątrz okręgu */
}
